<%- include('./partials/header.ejs') %>


<main>

    <h1>Paws and Dogs</h1>

    
    <div class="huncho">
        <img src="/assets/77832418-F450-4F65-B0FE-42A7B83BB85F_1_105_c.jpeg" class="background" >
        <img src="/assets/50631A68-D8EA-498E-A0DA-F3A41B2C7236_1_105_c.jpeg" class="background">
    </div>
<div class="home-text">
    <h2>
        Welcome to Paws and Dogs! We are excited to have you here. We are all here to spread some knowledge about each dog and why they are so adorable. Hopefully we could help future Pup owners to narrow down their selection of their next Fur Child. Or, if you already have a Fur Baby add them to the Party!!!
    </h2>

    
        <a href="/pawsanddogs">Meet Our Furry Friends</a>
    
    </div>  
</main>

<%- include('./partials/footer.ejs') %>