<%- include('./partials/header.ejs') %>


<main>

    <h4>Hello! This is the Fruit app</h4>
    <h6>Thanks for using our site</h6>
    
    <div>
        <img src="/Users/coreygomillion/Pictures/Photos Library.photoslibrary/resources/derivatives/5/50631A68-D8EA-498E-A0DA-F3A41B2C7236_1_105_c.jpeg">
    </div>
</main>

<%- include('./partials/footer.ejs') %>