<%- include('./partials/header.ejs') %>


<main>

    <h4>Hello! This is The Home Page for Paws and Dogs</h4>

    
    <div>
        <img src="/assets/77832418-F450-4F65-B0FE-42A7B83BB85F_1_105_c.jpeg" alt="Huncho">
    </div>
</main>

<%- include('./partials/footer.ejs') %>